{% form 'contact' %}
{{ form.errors | default_errors }}

<div id="contact-form"class="row">
  <div class="col-lg-12">
    <div class="form-box">
      <input type="text" placeholder="{{ settings.pf_name_placeholder }}" class="{% if form.errors contains 'name' %}error{% endif %}" name="contact[name]" id="name" value="{% if form.name %}{{ form.name }}{% elsif customer.name %}{{ customer.name }}{% endif %}" required>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-box email-icon mb-30">
      <input type="email" placeholder="{{ settings.pf_email_placeholder }}" class="{% if form.errors contains 'email' %}error{% endif %}" name="contact[email]" id="ContactFormEmail" value="{% if form.email %}{{ form.email }}{% elsif customer.email %}{{ customer.email }}{% endif %}" required>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-box phone-icon mb-30">
      <input type="text" placeholder="{{ settings.pf_postal_code }}" class="{% if form.errors contains 'postal' %}error{% endif %}" name="contact[postal]" id="ContactFormPostal" value="{% if form.postal %}{{ form.postal }}{% elsif customer.postal %}{{ customer.postal }}{% endif %}" required>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="form-box message-icon mb-30">
      <textarea placeholder="{{ settings.pf_message_placeholder }}" class="custom-textarea h-100" name="contact[body]" id="ContactFormMessage" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
    </div>
    <div class="contact-btn">
      <button class="btn theme-btn" type="submit">{{ settings.pf_form_button_name }}</button>
    </div>
  </div>
</div>
{% if form.posted_successfully? %}
   <script> window.location = "/pages/thanks"; </script> 
<div class="post-success">
    <div class="text-success">{{ 'contact.form.post_success' | t }}</div>
</div>
{% endif %}
{% endform %}

