<style>
.hm_collection_title h2 {color: {{ section.settings.heading_text_color }};}
.hm_collection_item p.h1.featured-card__title {color: {{ section.settings.collection_title_color }};}
.hm_collection_item .grid__item a.featured-card {background-color: {{ section.settings.collection_backgroundcolor }};border-color: {{ section.settings.collection_bordercolor }};}
.hm_collection_item .grid__item a.featured-card:before {
  {%- assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0 -%}
  background-color: {{ section.settings.collection_backgroundcolor_hover | color_modify: 'alpha', overlay_opacity }};}
</style>

<section id="hm_collection_cool">
  <div class="container">
     <div class="hm_collection_title">
      <h2>{{ section.settings.hm_collection_h2 }}</h2>
    </div>
  {% assign blocks_count = section.blocks.size %}

  {% case blocks_count %}
    {% when 1 %}
      {% assign grid_item_width = 'medium-up--one-half' %}
      {% assign height = 450 %}
      {% assign number_rows = 1 %}
    {% when 2 %}
      {% assign grid_item_width = 'medium-up--one-half' %}
      {% assign height = 450 %}
      {% assign number_rows = 1 %}
    {% when 3 %}
      {% assign grid_item_width = 'medium-up--one-third' %}
      {% assign height = 330 %}
      {% assign number_rows = 1 %}
    {% when 4 %}
      {% assign grid_item_width = 'medium-up--one-quarter' %}
      {% assign height = 235 %}
      {% assign number_rows = 1 %}
    {% when 5 %}
      {% assign grid_item_width = 'medium-up--one-third' %}
      {% assign height = 330 %}
      {% assign number_rows = 2 %}
    {% when 6 %}
      {% assign grid_item_width = 'medium-up--one-third' %}
      {% assign height = 330 %}
      {% assign number_rows = 2 %}
  {% endcase %}
    <div class="row">
  <div class="hm_collection_item grid grid--no-gutters" id="collection-list-grid" data-number-rows="{{ number_rows }}">
    {% assign row_number = 1 %}

    {% for block in section.blocks %}
      {% if blocks_count == 5 and forloop.index > 3 %}
        {% assign grid_item_width = 'medium-up--one-half' %}
        {% assign height = 450 %}
      {% endif %}
      {% if blocks_count > 4 and forloop.index > 3 %}
        {% assign row_number = 2 %}
      {% endif %}

      {% assign featured_collection = collections[block.settings.collection] %}
      {% include 'collection-grid-item' with stretch_collection_image: section.settings.stretch_collection_image, height: height %}
    {% endfor %}
  </div>
</div>
  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>
</section>

{% schema %}
  {
    "name": "Home Collection List",
	"max_blocks": 6,
    "settings": [
		{
		"type": "text",
		"id": "hm_collection_h2",
		"label": "Title"
		},
		{
		"type": "color",
		"id": "heading_text_color",
		"label": "Heading Text Color",
		"default": "#151515"
		},
		{	
		"type": "color",
		"id": "collection_title_color",
		"label": "Collection Title Color",
		"default": "#151515"
		},
		{
		"type": "color",
		"id": "collection_bordercolor",
		"label": "Collection Bordercolor",
		"default": "#e1d8bd"
		},
		{
		"type": "color",
		"id": "collection_backgroundcolor",
		"label": "Collection Backgroundcolor",
		"default": "#e1d8bd"
		},
		{
		"type": "color",
		"id": "collection_backgroundcolor_hover",
		"label": "Collection Backgroundcolor Hover",
		"default": "#e1d8bd"
		},
		{
		"type": "range",
		"id": "overlay_opacity",
		"min": 0,
		"max": 100,
		"step": 1,
		"unit": "%",
		"label": "Hover Opacity",
		"default": 30
		}
	],
	"blocks": [
    {
      "type": "collection",
      "name": "collection",
      "settings": [
         {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
          }
       ]
    }
  ],
	"presets": [
	{
	"name": "Home Collection List",
	"category": "Custom Content"
	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
